create table if not exists public.admin_wallets (
  user_id       uuid primary key references auth.users(id) on delete cascade,
  secret_key    text not null,
  public_key    text not null,
  created_at    timestamptz not null default now(),
  updated_at    timestamptz not null default now()
);

alter table public.admin_wallets enable row level security;

create policy \
users_own_admin_wallet\ on public.admin_wallets
  for all using (auth.uid() = user_id) with check (auth.uid() = user_id);
